$main-font:             "Oxygen", serif;
$primary-color:         #FF9F40;
$secondary-color:       #FF6440;
$complimentary-color:   #40AAFF;
$complimentary-two-color: #404AFF;
$body-background:       #FCDAB8;
$code:                  #966FF7;
$code-background:       #FDE7D0;
$link:                  $primary-color;
$link-invert:           #966FF7;
$link-visited:          #6F8CF7;
$button-info:           #2366d1;

$good:                  #23d160;
$fair:                  #D8DE34;
$bad:                   #F78F68;
$badTransparent:        rgba(247, 143, 104, 0.9);

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/layout/hero";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/message";
@import "bulma/sass/grid/columns";
/*@import "bulma/sass/elements/box";*/
@import "bulma/sass/elements/notification";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/form";
@import "bulma/sass/elements/other";

body {
    font-family: $main-font;
}

a, a:hover, a:active {
    color: $complimentary-color;
}

a:visited {
    color: $complimentary-two-color;
}

section {
    margin-bottom: 2rem;
    .input {
        width: 30rem;
        @include mobile {
            width: 100%;
        }
    }
    @include mobile {
        .control {
            .button {
                width: 100%;
            }
        }
    }
    .container {
        h3 {
            margin-top: 2rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }
}

header {
    &.hero {
        margin-bottom: 2rem;
        background: $primary-color;
        color: $complimentary-color;
        font-weight: bold;
        .title {
            font-size: 4rem;
            height: 4.5rem;
        }
    }
    .scale {
        position: relative;
        top: -.5rem;
        left: 5.1rem;
        img {
            margin: 0 0 55px;
        }
    }
}

footer {
    text-align: center;
    font-size: 75%;
}

pre {
    code {
        display: block;
        padding: 1rem;
        overflow-x: scroll;
        color: $code;
        background: $code-background;
    }
}

#lookup-score {
    article {
        background: $code-background;
        min-height: 135px;
    }
    .graphical {
        height: 110px;
        @include desktop {
            float: left;
            .scale {
                clear: both;
                float: right;
            }
            .identicon {
                float: right;
            }
        }
        @include mobile {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            padding: 0;
            p {

            }
        }
    }
    .textual {
        float: left;
        /*height: 130px;*/
        p {
            margin-top: 1.5rem;
        }
        .score {
            font-size: 200%;
            font-weight: bold;
            &.good {
                color: $good;
            }
            &.fair {
                color: $fair;
            }
            &.bad {
                color: $bad;
            }
        }
        @include mobile {
            text-align: center;
        }
    }
}

#lookup-form {
    .has-addons {
        @include mobile {
            display: block;
        }
    }
}

#rate {
    position: relative;
    .has-addons {
        @include mobile {
            display: block;
        }
    }
    .readOnlyOverlay {
        position: absolute;
        display: block;
        background: $badTransparent;
        /*height: 12rem;*/
        width: 100%;
        z-index: 5;
        p {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            font-size: 150%;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }
    }
}

#rating-results {
    .message {
        .small {
            padding: 0 1.25em 1rem;
        }
    }
}

.hide, .ro {
    display: none;
}

.spinner {
    display: block;
    height: 135px;
    width: 135px;
    margin: 0 auto;
}

.rating-gradient {

    .button {
        width: 3rem;
        color: #fff;
    }
    .button:hover {
        color: #fff;
    }
    p {
        &.submit {
            button {
                @include mobile {
                    width: 100%;
                    margin-top: 1rem;
                }
            }
        }
        @include desktop {
            &.submit .button {
                width: inherit;
            }
        }
    }

    p:nth-of-type(1) {
        display: block;
        clear: both;
    }

    /*p:nth-of-type(2),
    p:nth-of-type(3),
    p:nth-of-type(4),
    p:nth-of-type(5),
    p:nth-of-type(6),
    p:nth-of-type(7),
    p:nth-of-type(8),
    p:nth-of-type(9),
    p:nth-of-type(10),
    p:nth-of-type(11),
    p:nth-of-type(12) {
        display: block;
        margin-bottom: 0;
        button {
            width: 100%;
        }
    }

    p:nth-of-type(1) .button {
        background: #FE8176;
    }
    p:nth-of-type(2) .button {
        background: #F78F68;
    }
    p:nth-of-type(3) .button {
        background: #F1A05A;
    }
    p:nth-of-type(4) .button {
        background: #EBB44D;
    }
    p:nth-of-type(5) .button {
        background: #E4CB40;
    }
    p:nth-of-type(6) .button {
        background: #D8DE34;
    }
    p:nth-of-type(7) .button {
        background: #B0D828;
    }
    p:nth-of-type(8) .button {
        background: #86D11D;
    }
    p:nth-of-type(9) .button {
        background: #5BCB13;
    }
    p:nth-of-type(10) .button {
        background: #2FC509;
    }
    p:nth-of-type(11) .button {
        background: #01BF00;
    }*/

    ul#rating-list {

        list-style-type: none;
        margin-left: 0;

        /*@include mobile {
            li {
                display: none;
            }
            li.mobi-show {
                display: block;
            }
        }*/
        @include mobile {
            li {
                text-indent: -9999px;
                &,button {
                    height: 0;
                    -webkit-transition: height 0.8s;
                    -moz-transition: height 0.8s;
                    transition: height 0.8s;
                }
            }
            li.show { 
                text-indent: 0;
                &,button {
                    height: 2.5rem;
                    -webkit-transition: height 0.8s;
                    -moz-transition: height 0.8s;
                    transition: height 0.8s;
                }
            }
        }
        @include desktop {
            li, li button {
                display: inline-block;
                margin-right: -2px;
            }
            li button.marker {
                border: 1px $button-info solid;
                color: $button-info;
            }
        }

        /* mobile dropdown trial */
        li:nth-of-type(1) .button {
            background: #FE8176;
        }
        li:nth-of-type(2) .button {
            background: #F78F68;
        }
        li:nth-of-type(3) .button {
            background: #F1A05A;
        }
        li:nth-of-type(4) .button {
            background: #EBB44D;
        }
        li:nth-of-type(5) .button {
            background: #E4CB40;
        }
        li:nth-of-type(6) .button {
            background: #D8DE34;
        }
        li:nth-of-type(7) .button {
            background: #B0D828;
        }
        li:nth-of-type(8) .button {
            background: #86D11D;
        }
        li:nth-of-type(9) .button {
            background: #5BCB13;
        }
        li:nth-of-type(10) .button {
            background: #2FC509;
        }
        li:nth-of-type(11) .button {
            background: #01BF00;
        }

    }

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
